.resume-editor{
    height: var(--container-height);
    max-height: var(--container-height);
.resume-main-editor-container{
    overflow-y: scroll;
    // padding-top: 50px; 
    height: inherit;
    max-height: inherit;
    .page{
        &:first-child{
            margin-top: 50px;
        }
        background-color: #FFF;
        border: 1px solid #e4e4e4;
        width: 940px;
        height: 2780px;
    }
}
    
}