.section-box {
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        border: 2px solid #e4e4e4;
    }

    &.selected {
        background-color: #ffffff;
        border: 2px solid #e4e4e4;
    }

    .edit-item {
        border: none;
        outline: none;
    }

    .title-section { 
        &.bottom-border {
               border-bottom: 2px solid rgba(101, 105, 109, .5);
        }

    }

    .items-container {
        .item{
            
        }
    }
}