.resume-editor {
  height: var(--container-height);
  max-height: var(--container-height);

  .resume-main-editor-container {
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;

    &.not-visible {
      position: fixed;
      left: -10000%;
      top: -1000%;
      opacity: 0;


      .page {
        height: max-content !important;
      }
    }

    &.debugging {
      position: fixed;
      left: 0px !important;
      top: 0px !important;
      opacity: 1 !important;

      .page {
        height: max-content !important;
      }
    }

    .page {
      &:first-child {
        margin: 50px 0px;
      }

      background-color: #fff;
      border: 1px solid #dcdbe0;
      transition: background-color 0.3s ease;
      width: 940px;
      height: var(--page-height);
      position: relative;

      &:not(:first-child)::after {
        content: var(--page-number);

        position: absolute;
        left: 50%;
        top: -32px;
        transform: translateX(-50%);

        width: max-content;
        height: max-content;

        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;

        color: #9ca3af;

        z-index: 9999;
        pointer-events: none;
      }

      &:has(.active-focus:focus-within) {
        background-color: #dcdbe0 !important;
      }



      .active-focus {
        background-color: transparent;
        border-radius: 5px;
        transition:
          background-color 0.2s ease,
          box-shadow 0.2s ease;
        outline: none;
        position: relative;

        &:has(.active-focus:focus-within) {
          background-color: transparent !important;
          box-shadow: none !important;
          outline: none !important;

          &>.section-tools {
            display: none;
          }
        }

        // 2. The innermost focused section wrapper (the leaf node) gets the white card effect.
        &:focus-within {
          background-color: #ffffff;
          outline: 5px solid #ffffff;

          &>.section-tools {
            display: flex;
          }
        }
      }

      .section-container {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
      }

      .section-gap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--section-gap);
      }

      .section-styles {
        height: max-content;
      }

      .sub-section-padding {
        padding: 5px 0px;
      }

      .sub-section-divider {
        border-bottom: 1px dashed #e4e4e4;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}